*{
  margin:0;
  padding:0;
}
html,body,#root,.App{
  min-height: 100%;
}
.App{
  background-color: black;
  color: white;
  font-family: sans-serif;
  /* opacity: 0.4; */
}

html {
  overflow: scroll;
  overflow-x: hidden;
  }
  ::-webkit-scrollbar {
  width: 0px; 
  }
  ::-webkit-scrollbar-thumb {
  background: #FF0000;
  }